<!DOCTYPE html>
<html layout:decorator="layout">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body
        <div layout:fragment="content">  
            <table style="width:80%" cellspecing="1" bgcolor="#99ccff">
                <caption><h1>Hello Teacher</h1></caption>
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>START_DATE</td>
                        <td>END_DATE</td>
                        <td>DETAIL</td>
                        <td>TEACHER</td>
                        <td>STUDENT</td>
                    </tr>
                </thead>
                <tr th:each="app : ${appointments}">
                    <td th:text="${app.id}"></td>
                    <td><span th:if="${app.starttime ne null}" th:text="${#dates.format(app.starttime, 'dd/MM/yyyy HH:mm')}"></span></td>
                    <td th:text="${app.endtime}"></td>
                    <td><span th:if="${app.starttime ne null}" th:text="${app.detail}"></span></td>
                    <td><span th:if="${app.starttime ne null}" th:text="${app.teacher}"></span></td>
                    <td><span th:if="${app.starttime ne null}" th:text="${app.student}"></span></td>
                    <td>
                        <select name ="determine">
                            <option value ="access">Accept</option>
                            <option value ="add">Add</option>
                            <option value ="drop">Drop</option>
                            <option value ="cencle">Cancle</option>
                            <option value ="delete">Delete</option>
                        </select>
                    </td>
                    <td>
                        <input type="submit" value="submit">
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>
